{% load staticfiles %}

<!doctype html>
<html ng-app="fruitApp">
  <head>
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="{{ STATIC_URL }}js/angular/angular.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular-resource/angular-resource.min.js"></script>
    <script src="{{ STATIC_URL }}js/leaflet-dist/leaflet.js"></script>
    <script src="{{ STATIC_URL }}js/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
    <script src="{{ STATIC_URL }}js/fruitloop/services.js"></script>
    <script src="{{ STATIC_URL }}js/fruitloop/directives.js"></script>
    <script src="{{ STATIC_URL }}js/fruitloop/controller.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}js/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}js/leaflet-dist/leaflet.css" />
    <style media="screen" type="text/css">
        .angular-leaflet-map { height: 300px; width: 100%; margin-bottom: 10px; }
    </style>
  </head>
  <body ng-controller="FruitLocationCtrl">
    {% verbatim %}
    <div class="container">
      <div class="header">
        <h1 class="text-muted">Fruitloop AngularJS!</h1>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <p class="lead">Find trees in your neighborhood.</p>
            <leaflet markers="markers" center="center"></leaflet>
            <form action="" method="post" class="form"
                  ng-submit="addFruit(fruit)">
              <div class="form-group">
                <label class="sr-only" for="id_address">Address</label>
                <input class="form-control" id="id_address" maxlength="50"
                       name="address" placeholder="Address" required="required"
                       title="" type="text" autocomplete="off"
                       ng-model="fruit.address" googleplace/>
              </div>
              <div class="form-group">
                <label class="sr-only" for="id_fruit_type">Fruit type</label>
                <select class="form-control" id="id_fruit_type"
                        name="fruit_type" required="required" title=""
                        ng-model="fruit.type">
                  <option value="" selected="selected">---------</option>
                  <option value="1">Cherry tree</option>
                  <option value="2">Peach tree</option>
                  <option value="3">Other</option>
                </select>
              </div>
              <div class="form-group">
                <label class="sr-only" for="id_comment">Comment</label>
                <textarea class="form-control" cols="40" id="id_comment"
                          name="comment" placeholder="Comment" rows="10"
                          title="" ng-model="fruit.comment"></textarea>
              </div>
              <div class="form-group">
              <button type="submit" class="btn btn-primary">
                  <span class="glyphicon glyphicon-star"></span> Add a new tree
              </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
          <div class="row marketing">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Tree Type</th>
                  <th>Address</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="fruit in fruitLocations">
                  <td>{{ fruit.fruit_name }}</td>
                  <td>{{ fruit.address }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="footer">
        <p>© Fruitloop Django for PDXPython 2014</p>
      </div>

    </div> <!-- /container -->
    {% endverbatim %}
  </body>
</html>
